@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
}


/* TEMPLATE STUFF HERE!!! */



/* ACCENTS PAGE */

.CharlesCox {
  --Accent_Color: #416239;
  --Accent_Icon: "⌾";
}

.AaronObrien {
  --Accent_Color: #EF863D;
  --Accent_Icon: "֍";
}

.Ashenix {
  --Accent_Color: #6082B6;
  --Accent_Icon: "⚇";
}

.DexterKing {
  --Accent_Color: #7B3434;
  --Accent_Icon: "☠";
}

.DorotheaLockwood {
  --Accent_Color: #94C380;
  --Accent_Icon: "🖙";
}

.SimonBaug {
  --Accent_Color: #604F8E;
  --Accent_Icon: "☣";
}
.Khor {
  --Accent_Color: #55657B;
  --Accent_Icon: "𓆛";
}
.OliverDunn {
  --Accent_Color: #2A5051;
  --Accent_Icon: "";
}
.Hawkeye {
  --Accent_Color: #b8453e;
  --Accent_Icon: "";
}

/* OVERALL FORMATTING */

.blujournal {
  --Title: 'Corben', cursive;
  --H2: 'Sarabun', sans-serif;
  --Sans: verdana;
  --Font_Size: 12px;
  --Font_Color: #000000BF;
  margin: auto;
  border: 1px solid var(--Accent_Color);
  border-top: 0px;
  box-sizing: border-box!important;
  width: 90%;
  min-width: 240px;
  max-width: 782px;
  font-size: var(--Font_Size);
  line-height: 24px;
  font-family: var(--Sans);
  text-align: justify;
  color: var(--Font_Color);
}


/* BOLD, ITALICS, UNDERLINE */

.blujournal b, .blujournal i, .blujournal u {
  background: none;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  color: var(--Font_Color);
}

.blujournal b, .blujournal i {
  opacity: .8;
}

.blujournal u {
  opacity: 1;
  border-bottom: 1px solid var(--Accent_Color);
	padding: 1px 0px;
  text-decoration: none;
}

.darkmode .blujournal, .darkmode .blujournal b, .darkmode .blujournal i, .darkmode .blujournal u {
  color: var(--text);
}


/* LINK FORMATTING */

.blujournal a, .blujournal a:visited, .blujournal a:hover, .blujournal a:active {
  text-decoration: none;
}

.blujournal a, .blujournal a:visited {
  border-bottom: 1px solid var(--Accent_Color);
	padding: 1px 0px;
  font-weight: 800;
	text-transform: lowercase;
}

.blujournal a, .blujournal a:visited {
  transition: color .8s;
  color: var(--Font_Color);
}

.blujournal a:hover, .blujournal a:active {
  color: var(--Accent_Color);
}

.darkmode .blujournal a, .darkmode .blujournal a:visited {
  color: var(--Accent_Color);
}

.darkmode .blujournal a:hover, .darkmode .blujournal a:active {
  color: var(--text);
}


/* H2 & H3 */

.blujournal h2, .blujournal h3 {
  width: fit-content;
  padding: 1px 0px;
  background: none;
	text-transform: lowercase;
}

.blujournal h2 {
  margin: -4px 0 4px;
  border-bottom: 4px solid var(--Accent_Color);
  font: 600 calc(var(--Font_Size) * 2) var(--H2);
	color: var(--Font_Color)!important;
}

.darkmode .blujournal h2 {
  border-bottom: 4px solid #ffffff;
  color: var(--Accent_Color)!important;
}

.blujournal h3 {
  margin: 12px 0 0;
  opacity: 1;
  border-bottom: 0px;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  font: 600 calc(var(--Font_Size) * 1.5) var(--H2);
	color: var(--Accent_Color)!important;  
}


/* LIST FORMATTING */

.blujournal ol {
	list-style-type: none;
	counter-reset: ol-counter;
	margin: 0;
	padding-inline-start: 5%;
}

.blujournal ol li {
	display: table;
  margin: 0;
  border: none!important;
	width: 100%;
	padding: 0;
	text-align: justify;
	counter-increment: ol-counter;
}

.blujournal ol li:before {
	display: table-cell;
  margin-right: 5px;
  width: 28px; 
	padding: 0;
  font-size: calc(var(--Font_Size) - 1px);
	font-family: var(--Sans);
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--Accent_Color);
  content: counter(ol-counter,decimal-leading-zero);
}

.blujournal ul {
	margin: 0;
	padding-inline-start: 5%;
  list-style-type: none;
}

.blujournal ul li {
	display: table;
  margin: 0;
  border: none;
	width: 100%;
	padding: 0;
	text-align: justify;
}

.blujournal ul li:before {
	display: table-cell;
	margin-right: 5px;
  width: 24px;
	padding: 0;
  font-size: calc(var(--Font_Size) * 1.1);
	font-family: var(--Sans);
	font-weight: 700;
	color: var(--Accent_Color);
  content: /*counter(listStyle, circle)*/var(--Accent_Icon)!important;
}

.blujournal ol li ul li {
	margin: 10px 0 0;
  border: none;
  padding: 0px;
}

.blujournal ul li ul li {
	margin: 10px 0 0;
	border: none;
  padding: 0px;
}

.blujournal ul.unset li {
	margin: 0!important;
	border: none!important;
	padding: 0!important;
}

.blujournal ul.unset li:before { 
  color: var(--Accent_Color); 
}


/* TITLE FORMATTING */

.blujournal_Header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flext-start;
  padding: 4% 6%;
  background: none;
  text-transform: lowercase;
}

.blujournal_Title {
  order: 1;
  flex: 1 0 80%;
  box-sizing: border-box!important;
  padding-right: 5%;
  font-size: 38px;
  line-height: 68px;
  font-family: var(--Title);
  font-weight: 600;
  text-align: right;  
}

.blujournal_Title a, .blujournal_Title a:visited, .blujournal_Title a:hover, .blujournal_Title a:active {
  border-bottom: 0;
	padding: 0px;
  font-weight: 600;
}

.blujournal_Symbol {
  order: 2;
  box-sizing: border-box!important;
}

.blujournal_Symbol i {
  opacity: 1;
  background: none;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  font-size: 100px;
  color: var(--Font_Color);
}

.darkmode .blujournal_Symbol i {
  color: var(--Accent_Color);
}


/* MAIN CONTENT FORMATTING */

.blujournal_Content {
  padding: 0% 5%;
}

/* DROP-DOWN FORMATTING */

.blujournal_Button {
  all: unset;
  width: 100%;
  cursor: s-resize;
}

.blujournal_Hide {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
  max-height: 0;
}

.blujournal_Hide > :last-child { 
  margin: 1em 0 0; 
} 

.blujournal_Thread_Description { 
  margin-bottom: 1em;
  padding-left: 5%;
}

.blujournal hr {
	margin: 14px 0;
  border: 0px;
  height: 1px;
	background: var(--Accent_Color);
}

.blujournal_Hearts_Info {
  margin: auto;
  margin-top: 14px;
  box-sizing: border-box!important;
  border: 1px solid var(--Accent_Color);
  width: 90%;
  padding: 3% 5%;
}


/* BOTTOM FORMATTING */

.blujournal_Bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  margin: 5% 0;
  box-sizing: border-box!important;
}

.blujournal_Bottom img {
  order: 2;
  box-sizing: border-box!important;
  max-width: 147px;
  padding: 10px;
}

.blujournal_Platonic {
  order: 1;
  border-top: 1px solid var(--Accent_Color);
  border-left: 1px solid var(--Accent_Color);
  box-sizing: border-box!important;
}

.blujournal_Romantic {
  order: 3;
  border-right: 1px solid var(--Accent_Color);
  border-bottom: 1px solid var(--Accent_Color);
  box-sizing: border-box!important;
}

.blujournal_Platonic, .blujournal_Romantic {
  max-width: 147px;
  height: 147px;
  padding: 10px;
  font-size: 28px;
  line-height: 28px;
  font-family: var(--Title);
  weight: 600;
  text-align: center;
}

.blujournal_Platonic i, .blujournal_Romantic i {
  opacity: 1;
  padding-top: 10%;
  background: none;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  font-size: 60px;
}

.blujournal_Symbol a {
  border-bottom: 0px;
}


/* WITHIN POST */
.Template_Name_Platonic_Name i, .Template_Name_Platonic_Small_Name i {
 color: #939393;
}

.darkmode .Template_Name_Platonic_Name i, .darkmode .Template_Name_Platonic_Small_Name i {
 color: #939393;
}

.Template_Name_Romantic_Name i, .Template_Name_Romantic_Small_Name i {
 color: #939393;
}

.darkmode .Template_Name_Romantic_Name i, .darkmode .Template_Name_Romantic_Small_Name i {
 color: #939393;
}

/* MOODBOARD */
.moodboard { 
	padding: 10px 10px 10px 10px; 
	width: 600px; 
	display: flex; 
	flex-flow: row wrap; 
	align-items: flex-start; 
	justify-content: flex-start; 
	background-color: var(--Accent_Color);
}
.moodboard div { 
	padding: 10px; 
	background-color: #ddd; 
	margin-left: 10px; 
	margin-bottom: 10px; 
	border-radius: 5px; 
}
.moodboard img { 
	display: block; 
	border-radius: 5px; 
}
.woahbox { 
	width: 178px; 
	border: 0px solid #B5B9B5; 
	border-radius: 2px; 
	padding: 3px 3px; 
	margin: 4px; 
	float: left; 
	background: var(--Accent_Color);
}
.woahpost { 
	padding: 3px; 
	text-align:center; 
	font: 4pt #fff; 
	line-height: 10pt; 
	font-weight: bold 
}
.woahboximage { 
	width: 600px; 
	border: 15px solid var(--Accent_Color); 
}

/* QUOTES SECTION */
.notable-quotes-relate::-webkit-scrollbar-thumb:vertical { 
	background-color: #e9e9e9; 
	border: none; 
	border-left: solid 1px #e3e3e3;
	border-radius: 0px; 
}
.notable-quotes-relate::-webkit-scrollbar { 
	width: 7px; 
	background-color: #f9f9f9; 
	border: none; 
	border-left: solid 1px #e3e3e3; 
	border-radius: 0px; 
}
.notable-quotes-relate table { 
	border-spacing: 0px!important; 
}
.notable-quotes-relate td { 
	padding: 0px!important; 
	vertical-align: top; 
}
.notable-quotes-1 { 
	margin-top: 15px; 
}
.notable-quotes-2 { 
	border: solid 1px #e3e3e3; 
	padding: 20px; 
	border-radius: 4px; 
	background-color: #F9F9F9; 
}
.notable-quotes-3 { 
	float: left; 
	border-right: solid 10px #e3e3e3; 
	border-top: solid 10px transparent; 
	border-bottom: solid 10px transparent; 
	margin: 0px 0px 0px -40px; 
}
.notable-quotes-31 { 
	float: left; 
	border-right: solid 10px #f3f3f3; 
	border-top:solid 10px transparent;
	border-bottom:solid 10px transparent; 
	margin: 0px 0px 0px -38px; 
}
.notable-quotes-4 { 
	line-height: 13px; 
	font: 11px;
	color:#444444;
	text-align:justify;
	max-height:60px;
	overflow:auto;
	padding-right:10px;
	scrollbar-color:#D76C4A transparent;
	scrollbar-width:thin; 
}
.notable-quotes-4::-webkit-scrollbar-thumb:vertical { 
	background-color: #eeeeee;
	border: solid 1px #e3e3e3;
	border-radius: 0px; 
}
.notable-quotese-4::-webkit-scrollbar { 
	width:5px;
	background-color: transparent;
	border-radius:0px; 
}
.notable-quotes-5 a { 
	font: 18px ; 
	line-height: 20px; 
	color: #D76C4A; 
	-webkit-background-clip: revert!important; 
	-webkit-text-fill-color: revert; 
}
.notable-quotes-relate-5 { 
	font: 18px ; 
	line-height: 20px; 
	padding-bottom: 10px; 
	text-transform: lowercase; 
	letter-spacing: -1px; 
}
