@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
}


/* TEMPLATE STUFF HERE!!! */



/* ACCENTS PAGE */

.CharlesCox {
  --Accent_Color: #A8801A;
  --Accent_Icon: "⌾";
}

.AaronObrien {
  --Accent_Color: #B7542A;
  --Accent_Icon: "֍";
}

.Ashenix {
  --Accent_Color: #6082B6;
  --Accent_Icon: "⚇";
}

.DexterKing {
  --Accent_Color: #651D1D;
  --Accent_Color2: #fff;
  --Accent_Icon: "☠";
}

.DorotheaLockwood {
  --Accent_Color: #D58A94;
  --Accent_Icon: "🖙";
}

.DravenBlackwell {
  --Accent_Color: #A42A04;
  --Accent_Icon: "🖙";
}

.JPL {
  --Accent_Color: #9c2f44;
  --Accent_Icon: "";
}

.SimonBaug {
  --Accent_Color: #604F8E;
  --Accent_Icon: "☣";
}
.Khor {
  --Accent_Color: #55657B;
  --Accent_Icon: "𓆛";
}
.OliverDunn {
  --Accent_Color: #2A5051;
  --Accent_Icon: "";
}
.Hawkeye {
  --Accent_Color: #b8453e;
  --Accent_Icon: "";
}
.Ramiel {
  --Accent_Color: #9B9FCC;
  --Accent_Color2: #fff;
  --Accent_background: "☠";
}
.Isaac {
  --Accent_Color: #2e2188;
}

/* OVERALL FORMATTING */

.blujournal {
  --Title: 'Corben', cursive;
  --H2: 'Sarabun', sans-serif;
  --Sans: verdana;
  --Font_Size: 12px;
  --Font_Color: #000000BF;
  margin: auto;
  border: 1px solid var(--Accent_Color);
  border-top: 0px;
  box-sizing: border-box!important;
  width: 90%;
  min-width: 240px;
  max-width: 782px;
  font-size: var(--Font_Size);
  line-height: 24px;
  font-family: var(--Sans);
  text-align: justify;
  color: var(--Font_Color);
}

/* BOLD, ITALICS, UNDERLINE */

.blujournal b, .blujournal i, .blujournal u {
  background: none;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  color: var(--Font_Color);
}

.blujournal b, .blujournal i {
  opacity: .8;
}

.blujournal u {
  opacity: 1;
  border-bottom: 1px solid var(--Accent_Color);
	padding: 1px 0px;
  text-decoration: none;
}

.darkmode .blujournal, .darkmode .blujournal b, .darkmode .blujournal i, .darkmode .blujournal u {
  color: var(--text);
}

/* LINK FORMATTING */

.blujournal a, .blujournal a:visited, .blujournal a:hover, .blujournal a:active {
  text-decoration: none;
}

.blujournal a, .blujournal a:visited {
  border-bottom: 1px solid var(--Accent_Color);
	padding: 1px 0px;
  font-weight: 800;
	text-transform: lowercase;
}

.blujournal a, .blujournal a:visited {
  transition: color .8s;
  color: var(--Font_Color);
}

.blujournal a:hover, .blujournal a:active {
  color: var(--Accent_Color);
}

. .blujournal a, . .blujournal a:visited {
  color: var(--Accent_Color);
}

. .blujournal a:hover, . .blujournal a:active {
  color: var(--text);
}

.darkmode .blujournal a, .darkmode .blujournal a:visited, .darkmode .blujournal a:hover, .darkmode .blujournal a:active {
	color: #fff
}


/* H2 & H3 */

.blujournal h2, .blujournal h3 {
  width: fit-content;
  padding: 1px 0px;
  background: none;
	text-transform: lowercase;
}

.blujournal h2 {
  margin: -4px 0 4px;
  border-bottom: 4px solid var(--Accent_Color);
  font: 600 calc(var(--Font_Size) * 2) var(--H2);
	color: var(--Font_Color)!important;
}

.darkmode .blujournal h2 {
  margin: -4px 0 4px;
  border-bottom: 4px solid var(--Accent_Color);
  font: 600 calc(var(--Font_Size) * 2) var(--H2);
	color: #FFFFFF!important;
}

.blujournal h3 {
  margin: 12px 0 0;
  opacity: 1;
  border-bottom: 0px;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  font: 600 calc(var(--Font_Size) * 1.5) var(--H2);
	color: var(--Accent_Color)!important;  
}


/* LIST FORMATTING */

.blujournal ol {
	list-style-type: none;
	counter-reset: ol-counter;
	margin: 0;
	padding-inline-start: 5%;
}

.blujournal ol li {
	display: table;
  margin: 0;
  border: none!important;
	width: 100%;
	padding: 0;
	text-align: justify;
	counter-increment: ol-counter;
}

.blujournal ol li:before {
	display: table-cell;
  margin-right: 5px;
  width: 28px; 
	padding: 0;
  font-size: calc(var(--Font_Size) - 1px);
	font-family: var(--Sans);
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--Accent_Color);
  content: counter(ol-counter,decimal-leading-zero);
}

.blujournal ul {
	margin: 0;
	padding-inline-start: 5%;
  list-style-type: none;
}

.blujournal ul li {
	display: table;
  margin: 0;
  border: none;
	width: 100%;
	padding: 0;
	text-align: justify;
}

.blujournal ul li:before {
	display: table-cell;
	margin-right: 5px;
  width: 24px;
	padding: 0;
  font-size: calc(var(--Font_Size) * 1.1);
	font-family: var(--Sans);
	font-weight: 700;
	color: var(--Accent_Color);
  content: /*counter(listStyle, circle)*/var(--Accent_Icon)!important;
}

.blujournal ol li ul li {
	margin: 10px 0 0;
  border: none;
  padding: 0px;
}

.blujournal ul li ul li {
	margin: 10px 0 0;
	border: none;
  padding: 0px;
}

.blujournal ul.unset li {
	margin: 0!important;
	border: none!important;
	padding: 0!important;
}

.blujournal ul.unset li:before { 
  color: var(--Accent_Color); 
}


/* TITLE FORMATTING */

.blujournal_Header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flext-start;
  padding: 4% 6%;
  background: none;
  text-transform: lowercase;
}

.blujournal_Title {
  order: 1;
  flex: 1 0 80%;
  box-sizing: border-box!important;
  padding-right: 5%;
  font-size: 38px;
  line-height: 68px;
  font-family: var(--Title);
  font-weight: 600;
  text-align: right;  
}

.blujournal_Title a, .blujournal_Title a:visited, .blujournal_Title a:hover, .blujournal_Title a:active {
  border-bottom: 0;
	padding: 0px;
  font-weight: 600;
	color: #000;
}

.darkmode .blujournal_Title a, .darkmode .blujournal_Title a:visited, .darkmode .blujournal_Title a:hover, .darkmode .blujournal_Title a:active {
  border-bottom: 0;
	padding: 0px;
  font-weight: 600;
	color: #FFF;
}

.blujournal_Symbol {
  order: 2;
  box-sizing: border-box!important;
}

.blujournal_Symbol i {
  opacity: 1;
  background: none;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  font-size: 100px;
  color: var(--Font_Color);
}

. .blujournal_Symbol i {
  color: var(--Accent_Color);
}


/* MAIN CONTENT FORMATTING */

.blujournal_Content {
  padding: 0% 5%;
}

/* QUOTES SECTION */
.NotableQuote { 
	line-height: 13.3px; 
	font: 11px;
	text-align justify;
	max-height: 40px;
	overflow : auto;
	padding-right: 10px;
	scrollbar-color:  var(--Accent_Color) transparent;
	scrollbar-width: thin; 
}
.NotableQuoteTitle {
	font: 20px ; 
	line-height: 21px;
}
.NotableQuoteTitle a { 
	font: 20px ; 
	line-height: 21px; 
	-webkit-background-clip: revert!important; 
	-webkit-text-fill-color: revert; 
}
.NotableQuote::-webkit-scrollbar-thumb:vertical { 
	background-color: #eeeeee;
	border: solid 1px #e3e3e3;
	border-radius: 1px; 
}
.NotableQuote::-webkit-scrollbar { 
	width: 4px;
	background-color: transparent;
	border-radius:0px; 
}

/* DROP-DOWN FORMATTING */

.blujournal_Button {
  all: unset;
  width: 100%;
  cursor: s-resize;
}

.blujournal_Hide {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
  max-height: 0;
}

.blujournal_Hide > :last-child { 
  margin: 1em 0 0; 
} 

.blujournal_Thread_Description { 
  margin-bottom: 1em;
  padding-left: 5%;
}

.blujournal hr {
	margin: 14px 0;
  border: 0px;
  height: 1px;
	background: var(--Accent_Color);
}

.blujournal_Hearts_Info {
  margin: auto;
  margin-top: 14px;
  box-sizing: border-box!important;
  border: 1px solid var(--Accent_Color);
  width: 90%;
  padding: 3% 5%;
}


/* BOTTOM FORMATTING */

.blujournal_Bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  margin: 5% 0;
  box-sizing: border-box!important;
}

.blujournal_Bottom img {
  order: 2;
  box-sizing: border-box!important;
  max-width: 147px;
  padding: 10px;
}

.blujournal_Platonic {
  order: 1;
  border-top: 1px solid var(--Accent_Color);
  border-left: 1px solid var(--Accent_Color);
  box-sizing: border-box!important;
}

.blujournal_Romantic {
  order: 3;
  border-right: 1px solid var(--Accent_Color);
  border-bottom: 1px solid var(--Accent_Color);
  box-sizing: border-box!important;
}

.blujournal_Platonic, .blujournal_Romantic {
  max-width: 147px;
  height: 147px;
  padding: 10px;
  font-size: 28px;
  line-height: 28px;
  font-family: var(--Title);
  weight: 600;
  text-align: center;
}

.blujournal_Platonic i, .blujournal_Romantic i {
  opacity: 1;
  padding-top: 10%;
  background: none;
  -webkit-background-clip: revert!important;
  -webkit-text-fill-color: revert;
  font-size: 60px;
}

.blujournal_Symbol a {
  border-bottom: 0px;
}

/* WITHIN POST */
.Template_Name_Platonic_Name i, .Template_Name_Platonic_Small_Name i {
 color: #939393;
}

.darkmode .Template_Name_Platonic_Name i, .darkmode .Template_Name_Platonic_Small_Name i {
 color: #939393;
}

.Template_Name_Romantic_Name i, .Template_Name_Romantic_Small_Name i {
 color: #939393;
}

.darkmode .Template_Name_Romantic_Name i, .darkmode .Template_Name_Romantic_Small_Name i {
 color: #939393;
}
.darkmode .notable-quotes-4, .notable-quotes-2, .notable-quotes-5, .notable-quotes-31 .notable-quotes-1 {
	background-color: #222222; color: #f3f3f3;
}

/* MOODBOARD */
.moodboard { 
	padding: 5px 5px 5px 5px; 
	width: 620px; 
	padding: 5px;
	display: flex; 
	flex-flow: row wrap; 
	align-items: flex-start; 
	justify-content: flex-start; 
}
.moodboard div { 
	padding: 5px; 
	margin-left: 13px; 
	margin-bottom: 5px; 
	border-radius: 5px; 
}
.moodboard img { 
	display: block; 
	border-radius: 5px; 
	padding: 10px;
}
.woahbox { 
	width: 178px; 
	border: 0px solid #B5B9B5; 
	border-radius: 2px; 
	padding: 3px 3px; 
	margin: 4px; 
	float: left; 
	background: var(--Accent_Color);
}
.woahpost { 
	padding: 3px; 
	text-align:center; 
	font: 4pt #fff; 
	line-height: 10pt; 
	font-weight: bold 
}
.woahboximage { 
	width: 600px; 
	border: 15px solid var(--Accent_Color); 
}

.devblu { 
	width: 650px 
}
.devblu h11 {  
	font-size: 30pt; font-family: Corben; color: var(--Accent_Color); font-style: italic; font-weight: bold  
}
.devblu span { 
	position:absolute;background-color:#416239;height:100px;width:100px; 
}
.devblu img { 
	border: 10px solid var(--Accent_Color); width: 570px; 
}
.devblu a { 
	float: left; padding: 5px; background-color: var(--Accent_Color); color: #fff; margin-left: 20px; margin-right: 5px; margin-bottom: 10px; width: 177px 
}
.devblu a:hover { 
	color: black; 
		}

/* 100+ QUESTIONS FOR DEV SECTION */

.BluQuestions { 
	background-color: #fff; width: 550px; padding: 20px; border: 1px solid var(--Accent_Color); font-size: 13px; line-height: 14.5px
}
.BluTitle { 
	background-color: var(--Accent_Color); color: #fff; font-size: 20px; padding: 25px; width: 90%; line-height: 21px; text-align: center; margin-bottom: 10px; 
}
.BluTitle date { 
	font-size: 10px; text-decoration: none 
}
.BluQuestions b { 
	color: var(--Accent_Color); font-weight: bold;   background: none;  -webkit-background-clip: revert!important;  -webkit-text-fill-color: revert; 
}
.BluQuestions ol { 
	list-style-type: none; counter-reset: ol-counter; margin: 0; padding-inline-start: 5%; 
}
.BluQuestions ol li { 
	display: table; margin: 10px; border: none!important; width: 100%; padding: 0; text-align: justify; counter-increment: ol-counter; 
}
.BluQuestions ol li:before { 
	display: table-cell; margin-right: 5px; width: 35px;  padding: 0; font-size: calc(var(--Font_Size) - 1px); font-family: var(--Sans); font-weight: 700; letter-spacing: 1px; color: var(--Accent_Color); content: counter(ol-counter,decimal-leading-zero); 
}
.BluQuestions ul { 
	margin: 0; list-style-type: none; 
}
.BluQuestions ul li { 
	display: table; margin: 0; border: none; width: 100%; padding: 0; text-align: justify; 
}
.BluQuestions ul li:before { 
	display: table-cell; margin-right: 5px; width: 24px; padding: 0; font-size: calc(var(--Font_Size) * 1.1); font-family: var(--Sans); font-weight: 700; color: var(--Accent_Color); content: /*counter(listStyle, circle)*/var(--Accent_Icon)!important; 
}
.BluQuestions ol li ul li { 
	margin: 10px 0 0; border: none; padding: 0px; 
}
.BluQuestionsul li ul li { 
	margin: 10px 0 0; border: none; padding: 0px; 
}
.BluQuestions ul.unset li { 
	margin: 0!important; border: none!important; padding: 0!important; 
}
.BluQuestions ul.unset li:before { 
	color: var(--Accent_Color); 
}
.QuestionList { 
	overflow: auto; height: 500px; padding-right: 20px; overflow: auto; scrollbar-color: var(--Accent_Color) transparent; scrollbar-width: thin; 
}


