
:root {
}

/* CHARACTER ACCENTS HERE */
.AaronObrien {
  --Accent_Color: #EF863D;
  --Accent_Icon: "֍";
}
/* TEMPLATE BELOW */

.Blucontent { width: 550px; padding: 30px; text-align: justify; font: 12px Quicksand; line-height: 14px; color: #6b6b6b; background-image:url(https://image.ibb.co/btvYeK/transparent_flowers_4.png); background-color:  var(--Accent_Color); text-indent: 30px; background-size:cover; box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }

.Blucontent a { color: var(--Accent_Color); }

.BluPost { padding: 20px 20px 10px 20px; text-align: justify; font: 12px Quicksand; line-height: 14px; color: #6b6b6b; background-color: #fff; border: solid 15px #eee; text-indent: 30px; }

.BluPost img { width: 130px; height: 130px; float: left; margin: -65px 15px 10px -5px; border: solid 8px #eee; padding: 7px; opacity: .73; }

.BluPost b, .Aaroncontent u, .Aaroncontent s { color: var(--Accent_Color); font: 13px Quicksand; background: none; -webkit-background-clip: revert!important; -webkit-text-fill-color: revert; font-weight: 800; }

.BluPost i { color: var(--Accent_Color); font: 13px georgia; font-style: italic; }

.BluPostTag { background-color: #eee; text-align: right; padding: 10px 10px 10px 10px; color: #6b6b6b; font-size: 25pt; text-align: right; color: #6b6b6b; margin-top: -20px; margin-left: 168px; width: 324px; margin-bottom: 30px; } 

.BluPostTag a { color: var(--Accent_Color)!important; text-align: right; font-style: italic; text-transform: lowercase; font-weight: bold; font-family: Lobster Two; font-size: 25pt; text-shadow:.75px .75px 0px #f9f9f9, .75px 0px 0px #f9f9f9, 0px .75px 0px #f9f9f9, -.75px 0px 0px #f9f9f9, 0px -.75px 0px #f9f9f9, -.75px .75px 0px #f9f9f9, .75px -.75px 0px #f9f9f9, -.75px -.75px 0px #f9f9f9; }

.BluPostDate { text-align: right; font: 11px Quicksand; line-height: 14px; color: #6b6b6b; padding-top: 5px; }

.BluPostDate a { text-align: right; font: 11px Quicksand; line-height: 12px; color: #6b6b6b; font-style: italic; }

.BluPost b:before { content: open-quote; } 
.BluPost b:after { content: close-quote; }
