@import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.AaronObrien {
--nokiaslAccent1: #DB8C43;
--phonecolor: #333;
--case: #9CC0E2;
--nokiaslPhoneBG:url(https://i.postimg.cc/ZT3HhCp4/image-2025-05-23-203145237.png); background-repeat: no-repeat; background-size: 320px 520px;
}
.RafaelDelBosque {
--nokiaslAccent1: #B76F6C;
--phonecolor: #993D3A;
--case: #343232;
--nokiaslPhoneBG:url(https://i.pinimg.com/736x/84/e3/22/84e322fa699ec97d7fc41c46d733c48e.jpg); background-repeat: no-repeat; background-size: 320px 520px;
}
.CharlesCox {
--nokiaslAccent1: #6C9FB7;
--phonecolor: #222;
--case: #374C34;
--nokiaslPhoneBG:url(https://i.pinimg.com/1200x/bf/9d/14/bf9d145806dd7cfb86312d998abdfcd2.jpg); background-repeat: no-repeat; background-size: 320px 520px;
}
.darkmode {
--nokiaslAccent2: #555; 
--nokiaslAccent3: #333; 
--white: #fff; 
--text: #fafafa; }

.lightmode {
--nokiaslAccent2: #F9F9F9;
--nokiaslAccent3: #EEEEEE; 
--white: #fff; 
--text: #111; }
}


.nokiaslCamera { 
  background-color: rgba(255,255,255, .2); height: 7px; width: 7px; margin: 10px 0px; border-radius: 100%; float: right; margin-top: -17px; margin-right: 71px; 
}

.nokiaslPhone { 
  width: 320px; height: 570px; overflow: hidden;  position: relative; border-radius: 14px 14px 14px 14px; 
}

.nokiaslLockscreen {
  flex-shrink: 0; background-size: 320px; width: 320px; height: 570px; position: absolute; z-index:0; opacity: .9; background-image:url(http://placehold.it/300x500/333/eee.png); background-image: var(--nokiaslPhoneBG); display: flex; align-items: center; justify-content: center; transition: .23s; 
}

.nokiaslPhone:hover .nokiaslLockscreen { 
  transition:.33s; transition-delay:.23s; 
}

.nokiaslSecond { 
  opacity:0; margin-top: 250px; transition:.23s; position:relative; 
}

.nokiaslPhone:hover .nokiaslSecond { 
  opacity:1; transition:.23s; margin-top:0px; position:relative; transition-delay:.23s; 
}

.nokiaslLockscreen h11 { 
  margin: 0px; position: absolute; z-index: 1; font: 300 20px Quicksand; color: #fafafa; text-shadow: 0px 0px 3px #000; 
}

.nokiaslPhone:hover .nokiaslLockscreen span { 
  animation:.15s nokiasl-in normal; opacity:0; 
}

.nokiaslRibbon { 
  height: 20px; width: 307px; position: absolute; z-index: 9; color: #fafafa; display: flex; align-items: center; justify-content: space-between; padding:2px 10px; font:400 12px Quicksand; border-radius: 14px 14px 0px 0px; color: var(--white);
}

.nokiaslRibbon i { 
  color: var(--white); font-size: 13px; line-height: 15px; text-align: left; letter-spacing: 3px; margin-left: 15px; padding-left: 10px;
}

.nokiaslRibbon div { 
  display: flex; align-items: center; justify-content: center; color: var(--white); 
}

.nokiaslRibbon span { 
  margin-right: 5px; height: 10px; width: 10px; line-height: 20px; display: flex; align-items: center; justify-content: center; font-size: 10px; speak: none; font-style: normal; font-weight: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; font-variant: normal; color: var(--white); 
}

.nokiaslContact { 
  height: 87px; margin-top: 0px; padding: 24px 10px 0px 10px; background-color: var(--nokiaslAccent1); font: 800 18px/18px Quicksand; color: #fff!important; display: block; margin-left: auto; margin-right: auto; 
}

.nokiaslContact div { 
  font: 500 12px Quicksand; margin-top: 20px; color: var(--white); align-items: center;  
}

.nokiaslContact div a { 
  font: 500 12px Quicksand!important; color: var(--white)!important; text-transform: uppercase; text-decoration: none; 
}

.nokiaslContact i { 
  font-size: 28px; font-style: normal; margin-right: 0px; cursor: pointer; 
}

.smallcontact { 
  position: absolute; font: 300 10px Quicksand; margin-top: 20px; color: var(--white); align-items: center; 
}

.nokiaslMessages { 
  height: 470px; width: 320px; text-align: left; background-color: var(--nokiaslAccent3); padding-top: 5px; 
}

.nokiaslMessages::after { 
  content:'.'; font-size: 0; line-height: 10px; background-color: var(--nokiaslAccent3); color: var(--text); 
}

.nokiaslMessages h11 { 
  margin-right: 10px; margin-top: 5px; margin-left: 130px; marrgin-bottom: 5px; max-width: 200px; color: var(--white); padding: 5px; font: 11px Quicksand; text-align: justify; width: auto; border-radius: 15px; border: 6px solid var(--nokiaslAccent1); background-color: var(--nokiaslAccent1); line-height: 12px; 
}

.nokiaslMessages h22 { 
  margin-left: 10px; margin-top: 5px; margin-left: 10px; max-width: 200px; color: var(--text); padding: 5px; font: 11px Quicksand; text-align: justify; width: auto; border-radius: 15px; border: 6px solid var(--nokiaslAccent2); background-color: var(--nokiaslAccent2); filter: brightness(85%);  line-height: 12px; 
}

.nokiaslMessages::-webkit-scrollbar { 
  width:7px;border:0px; -webkit-background-clip: revert!important; -webkit-text-fill-color: revert; 
}

.nokiaslMessages::-webkit-scrollbar-track { 
  background-color:#fcfcfc;border:0px; -webkit-background-clip: revert!important; -webkit-text-fill-color: revert; 
}

.nokiaslMessages::-webkit-scrollbar-thumb { 
  background-image: linear-gradient(to bottom, var(--nokiaslAccent1), var(--nokiaslAccent2) ); background-color: var(--nokiaslAccent1); -webkit-background-clip: revert!important; -webkit-text-fill-color: revert; border:0px; 
}

.txtthreadbottom { 
  width: 280px; padding: 8px 23px 23px 23px; height: 39px; background-color: var(--nokiaslAccent2); border-radius: 0px 0px 15px 15px; float: left; 
}

.txtthreadbottom i { 
  color: var(--text); font-size: 16px; margin-right: 38px; 
}

.txtthreadreply { 
  width: 324px; padding: 5px 5px 5px 5px; background-color: var(--nokiaslAccent2); float :left; color: var(--text); 
}

.txtthreadreplytext { 
  font-family: Quicksand; font-size: 12.5px; color: var(--text); text-align: left; line-height: 11px; float:left; background-color: var(--nokiaslAccent3); width: 300px; padding: 6px 8px 6px 0px; border-radius: 15px; 
}

.txtthreadreplytext i { 
  color: var(--text); font-size: 14px; margin: 0px 12px 0px 10px; float: left; 
}

.nokiasl1Case { 
  width: 320px; height: 570px; padding: 4px 4px 4px 4px; background-color: var(--phonecolor); border-radius: 25px; border: 7px solid var(--case); 
}

.nokiasl1Speaker { 
  background-color: rgba(255,255,255, .2); height:7px; width: 149px; margin: 10px 0px; border-radius: 5px; 
}

.nokiasl1Camera { 
  background-color: rgba(255,255,255, .2); height: 7px; width: 7px; margin: 10px 0px; border-radius: 100%; float: right; margin-top: -17px; margin-right: 71px;
}

.nokiasl1Phone { 
  width: 320px; height: 570px; overflow: hidden; background-color: #efefef; position: relative; border-radius: 15px 15px 15px 15px;
}

.nokiasl1Lockscreen { 
  background-image: var(--nokiasl1PhoneBG); width: 320px; flex-shrink: 0; height: 570px; position: absolute; z-index:0; opacity:1; display: flex; align-items: center; justify-content: center; transition:.33s; 
}

.nokiasl1Phone:hover .nokiasl1Lockscreen { 
  transition:.33s; transition-delay:.33s; 
}

.nokiasl1Second { 
  opacity:0; margin-top: 270px; transition:.33s; position:relative; 
}

.nokiasl1Phone:hover .nokiasl1Second { 
  opacity: 1; transition: .6s; margin-top:0px; position:relative; transition-delay:.33s; 
}

.nokiasl1Lockscreen h11 { 
  margin: 0px; position: absolute; z-index: 1; -webkit-text-stroke: 1px black;  -webkit-text-fill-color: var(--white); font: 600 20px Verdana; color: var(--white); animation: pulse 2s ease-in-out infinite; 
}

@keyframes pulse {
0%, 100% { transform: scale(1); }
50% { transform: scale(1.1); }
}

.nokiasl1Phone:hover .nokiasl1Lockscreen span { 
  animation:.25s nokiasl1-in normal; opacity:0; 
}

.nokiasl1Ribbon { 
  height: 20px; width: 307px; position: absolute; z-index: 9; background-color: rgba(0,0,0,.2); color: #fafafa; display: flex; align-items: center; justify-content: space-between; padding:2px 10px; font:400 10px Quicksand; border-radius: 15px 15px 0px 0px; color: var(--white);
}

.nokiaslMessages I { 
  color: #222; font-size: 12px; line-height: 12px; float: right; letter-spacing: 1px; margin: 5px 5px 5px 5px;
}

.nokiasl1Ribbon div { 
  display: flex; align-items: center; justify-content: center; color: var(--white) 
}

.nokiasl1Ribbon span { 
  margin-right: 5px; height: 10px; width: 10px; line-height: 20px; display: flex; align-items: center; justify-content: center; font-size: 10px; speak: none; font-style: normal; font-weight: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; font-variant: normal; color: var(--white); 
}

.nokiasl1Contact { 
  height: 90px; margin-top: 0px; padding: 35px 10px 0px 10px; background:linear-gradient(60deg, var(--nokiasl1Accent1), var(--nokiasl1Accent2) ); background-color:var(--nokiasl1Accent2); font:800 12px/12px Quicksand; color:#fff!important; align-items: center; 
}

.nokiasl1Contact a { 
  font: 500 10px Quicksand!important; color: var(--white)!important; text-transform: uppercase; 
}

.nokiasl1Contact i { 
  font-size: 28px; font-style: normal; margin-right: 0px; cursor: pointer; 
}

.smallcontacticon { 
  background-image: var(--nokiasl1PhoneBG); height: 50px; width: 50px; border-radius: 100%;  outline-width: 1px; outline-offset: 0; outline-color: rgba( white, 0.75); outline-style: solid; animation: animateOutline 2s ease infinite; 
}

@keyframes animateOutline {
0% { outline-width: 1px; outline-offset: 0; outline-color: rgba( white, 0); }
10% { outline-color: rgba( white, 0.75); }
20% { outline-width: 1px; outline-offset: 1px; outline-color: rgba( white, 0); }
30% { outline-width: 1px; outline-offset: 2px; outline-color: rgba( white, 0); }
40% { outline-width: 1px; outline-offset: 3px; outline-color: rgba( white, 0); }
50% { outline-width: 1px; outline-offset: 4px; outline-color: rgba( white, 0); }
100% { outline-width: 1px; outline-offset: 4px; outline-color: rgba( white, 0); }
}

.nokiasl1Messages { 
  height: 440px; width: 320px; text-align: left; padding-top: 5px; padding-bottom: 5px; background-color: var(--nokiasl1Accent2); 
}

.nokiasl1Messages::after { 
  content:'.'; font-size: 0; line-height: 10px; background-color: #eee; color: #eee; 
}

.nokiasl1Messages h11 { 
  margin-right: 9px; margin-top: 5px; max-width: 270px; color: #fafafa; padding: 5px; font: 12.5px Quicksand; text-align: justify; width: auto; border-radius: 15px; border: 6px solid var(--nokiasl1Accent1); background-color: var(--nokiasl1Accent1); float: right; line-height: 13px; 
}

.nokiasl1Messages::-webkit-scrollbar { 
  width:7px;border:0px; -webkit-background-clip: revert!important; -webkit-text-fill-color: revert; }

.nokiasl1Messages::-webkit-scrollbar-track { 
  background-color:#fcfcfc;border:0px; -webkit-background-clip: revert!important; -webkit-text-fill-color: revert; 
}

.nokiasl1Messages::-webkit-scrollbar-thumb { 
  background-image: linear-gradient(to bottom, var(--nokiasl1Accent1), var(--nokiasl1Accent2) ); background-color: var(--nokiasl1Accent1); -webkit-background-clip: revert!important; -webkit-text-fill-color: revert; border:0px; 
}
