@import url('https://fonts.googleapis.com/css2?family=Lobster:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

.Aaron {
  --gradient: linear-gradient(65deg, rgba(196, 111, 61) 0%, rgba(196, 111, 61) 100%);
  --gradient1: linear-gradient(45deg, rgba(196, 111, 61, .3) 0%, rgba(196, 111, 61, .2) 100%);
}
.Charles {
  --gradient: linear-gradient(65deg, rgba(85, 138, 105) 0%, rgba(109, 178, 189) 100%);
  --gradient1: linear-gradient(45deg, rgba(85, 138, 105, .3) 0%, rgba(109, 178, 189, .2) 100%);
}
.Cirilla {
}
.Dexter {
}
.Donovan {
}
.Dorothea {
}
.Draven {
}
.Dustin {
}
.Enkh-Baatar {
}
.Hyacinth {
}
.Isaac {
}
.Louise {
}
.Lyle {
}
.Rafael {
}
.Ramiel {
}
.Silas {
}
.Somhairle {
}
.Theodore {
}

.GrassSnake {
  width: 600px;
  padding: 20px 20px 30px 20px;
  border-radius: 25px;
  background: var(--gradient1);
}
.GrassSnake-1 {
  width: 100%;
  background-color: var(--aaa);
  padding-top: 30px;
  border-radius: 20px;
  border: 1px solid var(--bord);
}
.GrassSnake-2 {
  font-family: lobster;
  font-size: 45px;
  text-align: left;
  margin-left: 60px;
  line-height: 80%;
  text-transform: lowercase;
  margin-top: 50px;
  height: 86px;
  letter-spacing: 1.5px;
  background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 5px;
  filter: brightness(0.8);
}
.GrassSnake-3 {
  font-family: Poppins;
  font-size: 13px;
  line-height: 147%;
  color: #555;
  text-align: justify;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.GrassSnake-4 > d {
  font-weight: 900;
  font-size: 110pt;
  font-family: Lobster;
  opacity: .05;
  position: absolute;
  margin-top: 20px;
  line-height: 80%;
  transform: rotate(8deg);
  width: 700px;
  margin-left: -290px;
}
.GrassSnake-3 b {
  -webkit-text-fill-color: revert; 
  font-weight: 900;
  text-transform: none;
  filter: brightness(0.8);
}
.GrassSnake-3 b:before { 
  content: open-quote;
}
.GrassSnake-3 b:after { 
  content: close-quote;
}

.GrassSnake-3 q {
  color: var(--gradient);
  padding: 2px;
  font-size: 13px;
  filter: brightness(0.8);
  filter: hue-rotate(35deg);
  font-family: georgia;
  font-style: italic;
}
.GrassSnake-3 q:before { 
  content: open-quote;
  quotes: "'" "'";
}
.GrassSnake-3 q:after { 
  content: close-quote;
  quotes: "'" "'";
}

.GrassSnake-3 i {
  color: var(--gradient);
  filter: brightness(0.7);
}
.GrassSnake-3 a {
  text-decoration: none;
  color: var(--gradient);
}

.GrassSnake-4 {
  width: 100%;
  height: 430px;
  background: var(--gradient);
  background-blend-mode: multiply;
  filter: grayscale(30%);
  background-size: cover;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: -240px;
}
.GrassSnake-5 {
  font-family: Lobster;
  font-size: 48pt;
  letter-spacing: 3px;
  background-image: var(--BGImage);
  background-attachment: fixed;
  color: #f5f5f5;
  background-clip: text;
  text-align: right;
  margin-right: 3%;
  line-height: 70%;
  overflow: auto;
  text-transform: lowercase;
  margin-bottom: 0px;
  position: relative;
  height: 160px;
  margin-top: 70px;
  opacity: .8;
}

.GrassSnake-6 { 
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 0px;
  margin-left: 300px;
  width: 300px;
  flex-direction: row-reverse;
}

.GrassSnake-6 > div {
  background-color: var(--bord2);
  width: auto;
  margin: 5px 5px 0px 0px;
  padding: 5px 10px 3px 7px;
  text-align: left;
  font-size: 9px;
  font-weight: 100;
  color: var(--gradient);
  border-radius: 20px;
  border: solid white 1px;
  font-family: verdana;
  text-transform: lowercase;
}

.GrassSnake-6 a {
  color: var(--gradient);
  text-decoration: none;
}

.GrassSnake-6 i {
  font-family: Poppins;
  -webkit-text-fill-color: revert; 
  font-weight: 300;
  text-transform: none;
  filter: brightness(0.8);
}
