@import url('https://fonts.googleapis.com/css2?family=Lobster:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.GrassSnake {
  width: 600px;
  padding: 20px 20px 30px 20px;
  border-radius: 15px;
  background: rgb(192,192,192, 0.3);
}
.GrassSnake-1 {
  width: 100%;
  background-color: var(--aaa);
  padding-top: 30px;
  border-radius: 10px;
}
.GrassSnake-2 {
  font-family: lobster;
  font-size: 45px;
  background: var(--gradient4);
  color: transparent;
  background-clip: text;
  text-align: left;
  margin-left: 60px;
  line-height: 80%;
  text-transform: lowercase;
  margin-top: 50px;
  opacity: 0.7;
  height: 86px;
  letter-spacing: 1.5px;
}
.GrassSnake-3 {
  font-family: Quicksand;
  font-size: 12px;
  line-height: 130%;
  color: #555;
  text-align: justify;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.GrassSnake-4 > d {
  font-weight: 900;
  font-size: 110pt;
  font-family: Lobster;
  opacity: .05;
  position: absolute;
  margin-top: 20px;
  line-height: 80%;
  transform: rotate(8deg);
  width: 700px;
  margin-left: -290px;
}
.GrassSnake-3 b {
  color: transparent;
  padding: 5px;
  background: var(--gradient1);
  font-weight: 700;
  -webkit-text-fill-color: revert; 
  font-weight: 900;
  text-transform: none;
}
.GrassSnake-3 b:before { 
  content: open-quote;
}
.GrassSnake-3 b:after { 
  content: close-quote;
}

.GrassSnake-3 q {
  color: var(--accent);
  font-size: 14px;
  filter: brightness(0.8);
  filter: hue-rotate(35deg);
}
.GrassSnake-3 q:before { 
  content: open-quote;
}
.GrassSnake-3 q:after { 
  content: close-quote;
}

.GrassSnake-3 i {
  color: var(--accent);
  font-size: 14px;
}
.GrassSnake-3 a {
  text-decoration: none;
  color: var(--accent);
}

.GrassSnake-4 {
  width: 100%;
  height: 430px;
  background: var(--gradient4);
  background-blend-mode: multiply;
  filter: grayscale(30%);
  background-size: cover;
  position: relative;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: -240px;
}
.GrassSnake-5 {
  font-family: Lobster;
  font-size: 48pt;
  letter-spacing: 3px;
  background-image: var(--BGImage);
  background-attachment: fixed;
  color: #f5f5f5;
  background-clip: text;
  text-align: right;
  margin-right: 3%;
  line-height: 70%;
  overflow: auto;
  text-transform: lowercase;
  margin-bottom: 0px;
  position: relative;
  height: 160px;
  margin-top: 70px;
  opacity: .8;
}

.GrassSnake-6 { 
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 0px;
  margin-left: 300px;
  opacity: .9;
  width: 300px;
  flex-direction: row-reverse;
}

.GrassSnake-6 > div {
  background-color: #f1f1f1;
  width: auto;
  margin: 5px 5px 0px 0px;
  padding: 5px 10px 3px 7px;
  text-align: left;
  font-size: 9px;
  font-weight: 100;
  color: var(--color1);
  border-radius: 20px;
  border: solid white 1px;
  font-family: verdana;
  text-transform: lowercase;
}

.GrassSnake-6 a {
  color: var(--color1);
  text-decoration: none;
}

.GrassSnake-6 i {
  color: var(--color1);
  text-decoration: none;
  font-size: 14px;
  margin: 0px 7px 0px 0px;
  float: left;
}
